version: "3.9"

services:
    web:
        build: .
        ports:
            - "80:80"
        environment:
            - MYSQL_HOST=mysql
            - MYSQL_DATABASE=jorani
            - MYSQL_USER=jorani
            - MYSQL_PASSWORD=jorani
            - SMTP_HOST=mailhog
            - SMTP_PORT=1025
            - FROM_NAME=Bluecube
            - SUBJECT_PREFIX=[Gestionale ferie]
        develop:
            watch:
                - action: sync
                  path: .
                  target: /var/www/html
                  ignore:
                      - vendor/
                      - .git/
                      - node_modules/
    mysql:
        image: mysql:8
        ports:
            - "3306:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=jorani
            - MYSQL_DATABASE=jorani
            - MYSQL_USER=jorani
            - MYSQL_PASSWORD=jorani
        volumes:
            - ./sql/jorani.sql:/docker-entrypoint-initdb.d/jorani.sql

    mailhog:
        image: mailhog/mailhog
        ports:
            - "1025:1025"
            - "8025:8025"
