services:
    bluecalendar:
        build: .
        ports:
            - "80:80"
        environment:
            - MYSQL_HOST=mysql
            - MYSQL_DATABASE=bluecalendar
            - MYSQL_USER=bluecalendar
            - MYSQL_PASSWORD=bluecalendar
            - SMTP_HOST=mailhog
            - SMTP_PORT=1025
            - SMTP_USER=
            - SMTP_PASSWORD=
            - SMTP_CRYPTO=
            - FROM_NAME=Bluecube
            - SUBJECT_PREFIX=[BlueCalendar] 
    mysql:
        image: mysql:8
        ports:
            - "3306:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=bluecalendar
            - MYSQL_DATABASE=bluecalendar
            - MYSQL_USER=bluecalendar
            - MYSQL_PASSWORD=bluecalendar
        volumes:
            - ./sql/init_bluecalendar.sql:/docker-entrypoint-initdb.d/init_bluecalendar.sql

    mailhog:
        image: mailhog/mailhog
        ports:
            - "1025:1025"
            - "8025:8025"
